@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* общие стили */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1C1C1C;
    color: white;
   
}

a {
    text-decoration: none;
    color: white;

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* заголовки */
p {
    margin: 0;  
}

p + p {
    margin-top: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}
img {
    max-width: 100%;
   
}

.container {
    box-sizing: border-box;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

   
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;


     width: 165px;
    height: 50px;

   font-weight: 500;
   font-size: 16px;

    background-color: #F6762C;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.btn:hover {
   opacity: 0.8;
}
 

/* ШАПКА */
.header {
padding: 25px 0;
position: relative;
z-index: 10;
}
.header .container {
display: flex;
justify-content: space-between;
align-items: center;
    }



.header__logo {

}

.header__nav {

}

.header__list {
display: flex;
gap: 30px;
}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a.active {
    font-size: 14px;
    opacity: 1;
}
.header__nav a:hover {
    opacity: 0.9;
}

/* НАЧАЛО ОСНОВНОЙ СТРАНИЦЫ *БУРГЕР И ОПИСАНИЕ */

.main {
}
/* WELOME НАЧАЛО САЙТА*/

.welcome {
    box-sizing: border-box;
    min-height: 100vh;
    margin-top: -100px;
    padding: 240px 0;
    background-image: url("/images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.welcome__text {
   width: 550px;
}
.welcome__subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.welcome_title {
    font-size: 58px;
}

.welcome__desk {
    margin: 40px 0;
    font-size: 18px;
    opacity: 0.7;
   
}
/* FOOD-LIST */

.food_list {
    padding: 100px 0;
}

.food_list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

    


.food-list__card {
    width: 260px;
    overflow: hidden;
    background-color: #312F30;
    border-radius: 10px;
    text-align: center;
    
}

.food-list__img {
    max-width: 100%;
     height: 175px;
     object-fit: cover;  
}

.food-list__text-wrapper {
    padding: 30px 20px;     
    box-sizing: border-box;
}

.food-list__title {
    font-size: 20px;
    margin-bottom: 15px;
}
.food-list__desk {
    font-size: 16px;
    opacity: 0.7;

}

/* ЛУЧШИЙ БУРГЕР */

.best-burher {
    background-color: #312F30;
    padding: 60px 0;
}


.best-burher .container {
    padding-right: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.order__text {
    max-width: 370px;
}
.best-burher__img {
    max-width: 470px;
  
}

.title_bur {
    margin-bottom: 25px;
    font-size: 44px;
}


.desk_info__burgers {
    margin-bottom: 15px;
    opacity: 0.7;
}


.price_burger {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #F6762C;
}


.price_burger_old {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    opacity: 0.5;
}

.best-burher .btn {
    margin-top: 10px;
}


/* ПОЗИЦИЯ ИЗ 4 ВАРИАНТОВ  */

.product {
    padding: 150px 0;

}
.product .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;   
}
.product__card  {
    box-sizing: border-box;
    width: 555px;
    min-height: 300px;
    padding: 60px 30px 60px 290px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.product__card:nth-child(even){
     padding-left: 30px;
    padding-right: 290px;

}
    
.product_title {
    font-size: 30px;
    margin-bottom: 20px;
}
.product__desk {
    opacity: 0.7;
    margin-bottom: 10px;
}
.product_price {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #F6762C;

}
.product_price_old {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    opacity: 0.5;

}

.btn:hover {
    opacity: 0.8;
}

.btn--small {
    width: 140px;
    height: 40px;
    font-size: 12px;
}

.product .btn {
    margin-top: 10px;
}

.card-Queen {
     width: 555px;
    min-height: 300px;
    background-image: url("/images/product-1.jpg");   
}
.card-hut {
     width: 555px;
    min-height: 300px;
    background-image: url("/images/product-2.jpg");   
}
.card-King {
     width: 555px;
    min-height: 300px;
    background-image: url("/images/product-3.jpg");   
}
.card-John {
     width: 555px;
    min-height: 300px;
    background-image: url("/images/product-4.jpg");   
}



/* FEEDBACK */


.feedback {
    padding-bottom: 200px;

}



.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
}
.feedback__img {

}
.feedback__text {
    margin: 0;
     text-align: center;
     width: 370px;
      
}

.feedback__text::before {
    content: url(/images/icons/quote.svg);
}

.feedback__desk {
 opacity: 0.7;
 margin: 30px 0;
}


.feedback__author {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
.feedback_sub_ {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;
    display: block;
}

/* DOUWNLOUD */


.downloud {
    width: 1600px;
    height: 170px;
    background-color: #312F30;
}
.downloud .container {
    padding: 60px;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.downloud__title {
    font-size: 40px;
}
.downloud .btn {
    margin-right: 150px;
    
    
}


/* FOOTER */


.footer {
    padding: 120px 0;
}
.footer a {
    font-size: 12px;
    opacity: 0.8;
}



 